
@{
    Layout = null;
    string controlador = ViewContext.RouteData.Values["controller"].ToString().ToLower();

    Modelo.USUARIO usuario = new Modelo.USUARIO().ObtenerLogin(Modelo.SessionHelper.GetUser());
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MVC & BD VENTAS - @ViewBag.Title</title>

    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/assets/js/jquery-1.12.3.min.js"></script>

</head>
<body>
    @*@if (controlador != "Login")*@
    @if (Modelo.SessionHelper.ExistUserInSession())
    {
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="menu" aria-expanded="false">
                        <span class="sr-only">Togle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        Sistema de Ventas
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="nav navbar-nav">
                        <li><a href="~/Categoria/Index">Categoría</a></li>
                        <li><a href="~/Pedido/Index">Pedido</a></li>
                        <li><a href="~/Producto/Index">Producto</a></li>
                        <li><a href="~/TipoUsuario/Index">Tipo Usuario</a></li>
                        <li><a href="~/Usuario/Index">Usuario</a></li>
                        <li><a href="~/DetallePedido/Index">Detalle Pedido</a></li>
                        <li><a href="~/Producto/BuscarCategoria">Buscar Categoría</a></li>
                        <li><a href="~/Categoria/Consulta">Consultar Categoría</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img id="user_pic" src="~/Uploads/@usuario.FOTO" width="50px" height="50px" />
                                <b>Bienvenido: </b> @usuario.NOMBRE, @usuario.APELLIDOS
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="~/Perfil/Index">Perfil</a>
                                </li>
                                <li>
                                    <a href="~/Password/Index">Cambiar Password</a>
                                </li>
                                <li>
                                    <a href="~/Login/Logout">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }

    <div class="container">
        <h1 style="background-color:#0C188C; color:white" class="jumbotron"> MVC & BD VENTAS</h1>
        @RenderBody()
    </div>

    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/ini.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/jquery.anexgrid.min.js"></script>

</body>
</html>