
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="page-header">
    Index
</h2>

<div class="container">
     <img src="~/assets/images/half-mac3.png" class="img-responsive" />
</div>
